<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868341775085-tet9sonilp8bcnfnsnb0ffgp0ha41js1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868341775085-tet9sonilp8bcnfnsnb0ffgp0ha41js1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>868341775085-17m45j5cov1gug1s8dbrfejublldcngv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPcrYR-EWysqjCFlSQwbBVXN4-YHgMkEs</string>
	<key>GCM_SENDER_ID</key>
	<string>868341775085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fruithubdashboard.app</string>
	<key>PROJECT_ID</key>
	<string>fruithub-84bf2</string>
	<key>STORAGE_BUCKET</key>
	<string>fruithub-84bf2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868341775085:ios:ac495f76af447291fb6ae4</string>
</dict>
</plist>